@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:wght@400;700&family=PT+Serif+Caption&display=swap');
nav{
    display: flex;
}
a{
    font-family: 'PT Mono',monospace;
    color: #04146c;
    font-size: 32px;
    text-decoration: none;
}
.act{
   font-weight: bold;
   color: #0a2ff1;
   margin-left: auto; 
}
a::after{
    content:'/';
}
.act::after{
    content: ' ';
}
h1{
    font-family: 'PT Serif Caption', serif;
    color:#0a2ff1;
    font-size: 80px;
}
h2{
    font-family: 'Serif Caption',serif;
    font-weight: 700;
    color: #04146c;
}
p{
   font-family: 'PT Serif Caption',serif;
   color: #04146c;
   font-size: 40px; 
}
ul{
font-family: 'PT Serif Caption', serif;
font-weight: 400;
color: #04146c;
}